{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is the demo application for the course
        <em>Django: Getting Started</em>
        on <a href="http://www.google.com">
        Google
        </a>
    </p>
    
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    
    <h3>News Rooms</h3>
    <a href="{% url 'rooms' %}"> Rooms list</a>
{% endblock %}